<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 class="alert alert-info">
            Campaign <strong><?= $data['campaign'] ? $data['campaign']->getName() : '' ?></strong> History
        </h5>
    </div>
</div>
<?php if (isset($data['history'])) : ?>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Budget (low / high)</td>
                    <td>Cost</td>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($data['history'] as $key => $item): ?>
                    <tr>
                        <td><?= $item['groupDate'] ?></td>
                        <td><?= $item['lowest'] ?> / <?= $item['highest'] ?></td>
                        <td><?= $item['cost'] ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
<?php endif; ?>