<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5 class="alert alert-info">Campaign Listing Page</h5>
    </div>
</div>
<?php if (isset($data['campaigns'])) : ?>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Status</td>
                    <td>Budget</td>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($data['campaigns'] as $key => $item): ?>
                    <tr>
                        <td>
                            <a href="/adwords/campaign-history/<?= $item->getId() ?>"><?= $item->getName() ?></a>
                        </td>
                        <td><?= date('Y-m-d H:i:s', $item->getStartTime()) ?></td>
                        <td><?= date('Y-m-d H:i:s', $item->getEndTime()) ?></td>
                        <td>
                            <button class="btn btn-block btn-<?= $item->isActive() ? 'success' : 'warning' ?>"
                                    onclick="{updateStatus(<?php echo $item->getId() ?>, <?php echo !$item->getStatus() ?>)}"
                                    id="<?= $item->getId() ?>"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Click to <?= $item->isActive() ? 'Pause' : 'Activate' ?>">
                                <?= $item->isActive() ? 'Active' : 'Paused' ?></button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-block btn-default"
                                    data-toggle="modal"
                                    data-name=<?= $item->getName() ?>
                                    data-campaign=<?= $item->getId() ?>
                                    data-budget=<?= $item->getId() ?>
                                    onclick="{getBudget(<?php echo $item->getId() ?>)}"
                                    data-target="#updateBudgetModal">
                                Update Budget
                            </button>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
<?php endif; ?>


<div class="modal fade" id="updateBudgetModal" tabindex="-1" role="dialog" aria-labelledby="updateBudgetModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="updateBudgetModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="budget-name" class="control-label">Budget:</label>
                        <input type="number" class="form-control" id="budget-name">
                        <input type="hidden" value="" class="form-control" id="campaign-id">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="{updateBudget($('#campaign-id').val(), $('#budget-name'). val())}">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#updateBudgetModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var campaign = button.data('campaign')
        var name = button.data('name')
        var modal = $(this)
        modal.find('#campaign-id').val(campaign)
        modal.find('.modal-title').html('Update budget for  <strong>' + name + '</strong> campaign')

    });

    function updateStatus(id, status) {
        $.ajax({
            type: "POST",
            url: "/api/update-campaign-status",
            data: {
                id: id,
                status: status
            }
        }).done(function (json) {
            /**
             * @TODO - change this!!!
             */
            location.reload();
        });
    }

    function updateBudget(id, budget) {
        $.ajax({
            type: "POST",
            url: "/api/update-campaign-budget",
            data: {
                id: id,
                budget: budget
            }
        }).done(function (json) {
            /**
             * @TODO - change this!!!
             */
            location.reload();
        });
    }

    function getBudget(id) {
        $.ajax({
            type: "POST",
            url: "/api/get-budget",
            data: {
                id: id,
            }
        }).done(function (json) {
            $('#updateBudgetModal').find('#budget-name').val(json.data.budget)
        });
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

